body {
  background: url('../images/skewed_print.png') repeat;
  padding:0;
}

.page-header
{
  margin: 0 0 10px;
}
/* page header navbar */
.page-header.main {
  border: none;
  margin:0;
  padding: 0;
}
.navbar  h1 {
  margin: 0;
  font-family: 'Changa One', arial;
}

.navbar h1 span {
  line-height: 0.8em;
}
.navbar h1 .top {
  font-size: 1.5em;
  display: block;
  color: #09c;
}

.navbar h1 .bottom {
  font-size: 0.52em;
  display:block;
  color: #eee;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
  font-weight: 600;
}


.navbar .motto {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #eee;
  margin: 20px 10px 0 0 ;
}

.name {
  float: right;
}

/* headers */

h2, h4 {
  font-weight: 400;
}

/* main container styles */
.container.main {
  background: #fff;
  padding: 0 2em;
}

.navbar-header span {
  padding-right: 10px;
}
/* menu styles */
.navbar-nav>li>a {
  font-size: 1.2em;
}

a:hover {
  color: #007196;
}

/* footer styles */

footer.main {
  margin-top: 4em;
}

/* about page */

.about-list {
  list-style-type: none;
  margin: 2em 0;
}
.about-list span,
.contact-list span {
  padding-right: 10px;
}

.profile-img, .coaching-img, .contact-img  {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  max-width: 430px;
  padding: 15px;
}

.front-img {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  max-width: 430px;
}
/* contact page */

.contact-list {
  list-style-type: none;
  padding-left:0;
}

/* front page */

.flex-img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

#front-learn-more {
  margin-bottom: 2em;
}

/* branding */
.branding {
  height: 100px;
  background: #eee;
}
.branding h1 {
  margin:0;
}

/* dynamic images sizing.  */
@media(max-width:450px){
  .motto {
    display:none
  }
  
  .profile-img, .coaching-img, .contact-img {
    width: 300px;
  }
}

